@page "/EditEmployee/{id:int}"
@inherits EditEmplyoeeBase;

<EditForm Model="@Employee">
    <DataAnnotationsValidator/>

    <h2> Edit Employee </h2>
    <hr/>
    <br/>

    <ValidationSummary/>
    <br/>
    

    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="Employee.FirstName" />

            <ValidationMessage For="@(() => Employee.FirstName)"/>
               
        </div>
    </div>
    <br/>

    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            Last Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="Employee.LastName" />

            <ValidationMessage For="@(() => Employee.LastName)" />
        </div>
    </div>
    <br />

    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="First Name"
                       @bind-Value="Employee.Email" />
            <ValidationMessage For="@(() => Employee.Email)" />
            
        </div>
    </div>
    <br />


    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            Department
        </label>
        <div class="col-sm-10">
            <InputSelect id="department" class="form-control" @bind-Value="Employee.DepartmentId" >

                @foreach(var department in departments)
                {
                    <option value ="@department.DepartmentId">@department.DepartmentName</option>
                }
            </InputSelect>

        </div>
    </div>
    <br />


    <div class="form-group row">
        <label for="date" class="col-sm-2 col-form-label">
            Date of Birth
        </label>
        <div class="col-sm-10">
            <InputDate id="date" class="form-control" @bind-Value="Employee.DateOfBirth"/>
        </div>
    </div>
    <br />

</EditForm>